body{
    margin: 0;
    font-family: 'inter',sans-serif;
}

header{
    background: #000;
    color: #f2f2f2;
    /* padding: 20px; */
}
.header-container{
    padding: 16px 80px;
    display: flex;
}

.header-slogan, .header-logo, .header-blank{
    width: 33.33%;
}

.header-slogan {
    display: flex;
    align-items: center;   /* Centers items vertically */
    gap: 10px;  
}

.header-slogan > span{
    
}

.header-slogan img{
    width: 100px;
    border-radius: 8px;
}

.header-banner{
    height: 600px;
    position: relative;
}

.header-title{
    display: flex;
    margin: 250px 80px 20px;
}

.header-title-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.header-title_details{

}

.header-title_h1{
    width: 500px;
    /* margin: auto; */
}

.header-title h1{
    font-size: 80px;
    margin: 20px 0;
    text-transform: capitalize;
}

.header-logo{
    text-align: center;
}
.header-logo img{
    width: 60px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    min-height: 80vh;
    margin: 0 80px;
}

nav{
    width: 20%;
    padding: 20px 30px;
    position: sticky; 
    top: 0;
    height: fit-content;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    padding: 10px 20px;
    border-left: 1px solid #ccc;
}

nav ul li:hover{
    border-left: 5px solid #ffcc00;
}

nav ul li:hover > a{
    color: #ffcc00;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    display: block;
}
.active-link{
    border-left: 5px solid #ffcc00;
}
.active-link > a{
    color: #ffcc00;
}

main{
    width: 80%;
    padding: 20px 50px;
    background: #ffffff;
    box-shadow: 3px -1px 10px rgba(0, 0, 0, 0.5);
}

footer{
    background: #000;
    color: #ccc;
    text-align: center;
    padding: 10px;
}

.footer-container{
    margin: auto 80px;
    padding-top: 40px;
}


footer li{
    list-style-type: none;
}

footer svg{
    width: 16px;
    height: 16px;
    fill: #fff;
}

.footer-details{
    display: flex;
}

/* footer navigation */

.footer-navigate{
    width: 45%;
    display: flex;
    justify-content: space-around;
} 

.footer-navigate ul{
    padding: 0;
}

.footer-navigate li {
    padding: 10px 20px;
    text-align: start;
}

.footer-navigate li a{
    text-decoration: none;
    color: #fff;
}

.footer-navigate li a:hover{
    color: #ffcc00;
}

/* footer contact */
.footer-contact{
    width: 25%;
}

.footer-contact_icon a{    
    background-color: #2e2e32;
    border-radius: 50%;
    height: 32px;
    justify-content: center;
    margin: 0 12px 0 0;
    width: 32px;
    display: flex;
    align-items: center;
}

.footer-contact_icon{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0;
}

/* footer slogan */
.footer-slogan{
    width: 30%;
} 

.footer-slogan_container{
    max-width: 200px;
    margin: auto;
}

.footer-slogan .logo{
    width: 150px;
}

.footer-slogan .slogan{
    border-radius: 8px;
    width: 150px;
}

.footer-copywright{
    border-top: 1px solid #fff;
    margin-top: 24px;
}

section{
    padding: 8px 0;
}

section ul li{
    margin-bottom: 16px;
}

section ol li{
    margin-bottom: 16px;
}
/*  */
.black-hole-categories li{
    /* margin-bottom: 8px; */
}

.black-hole-categories li a {
    text-decoration: none;
}

.black-hole-categories li a:visited {
    color: unset;
}

.black-hole-categories li a:hover {
    color: #ffcc00;
}


.image-blackhole{
    width: 80%;
    /* max-height: 500px; */
    margin: 24px auto;
}

.image-blackhole img{
    width: 100%;
    max-height: 400px;
}

.image-credits{
    font-size: .75rem;
    line-height: 1.25rem;
    text-align: center;
    color: #000;
}

.image-credits_description{
    color: #58585b;
}

/* History */
    .timeline {
            position: relative;
            max-width: 850px;
            margin: auto;
        }

    .timeline::after {
        content: '';
        position: absolute;
        width: 3px;
        background-color: #282929;
        top: 0;
        bottom: 0;
        margin-left: 136px;
    }

    .timeline-item {
        position: relative;
        left: -52px;
        padding: 20px;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
    }

    .timeline-item:nth-child(odd) {}

    .timeline-item:nth-child(even) {}

    .timeline-dot {
        margin-left: 24px;
        margin-right: 24px;
    }

    .timeline-date {
        width: 120px;
        padding: 0 12px;
        color: #1f2833;
        font-weight: bold;
    }

    .timeline-content {
        width: 350px;
        padding: 0 8px;
    }

    .timeline-content h2 {
        margin-top: unset;
    }

    .timeline-dot {
        margin-top: 4px;
        width: 12px;
        height: 12px;
        background-color: #000000;
        border-radius: 100%;
        z-index: 1;
    }

    .timeline-dot .dot {
        padding: 8px;
    }

    .timeline-author {
        display: flex;
        margin-left: 20px;
        width: 250px;
        height: 200px;
    }

    .timeline-author_details {
        color: #58585b;
        text-align: center;
        font-size: 14px;
    }

    .timeline-author img {
        width: 100px;
        height: 130px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        padding: 4px;
        margin-right: 4px;
    }

/* Famous page */
    .famous-item-container {}

    .famous-item:nth-child(odd) {}

    .famous-item:nth-child(even) {

        flex-direction: row-reverse;
    }

    .famous-item {
        display: flex;
        justify-content: space-between;
        padding: 60px 20px;
        height: 350px;
    }

    .fi-information h3 {
        margin: 8px 0;
        text-align: center;
    }

    .fi-information ul {
        margin: 8px 0;
        padding-left: 20px;
        font-size: 14px;
    }

    .fi-information {
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }

    .fi-information-container {
        width: 45%;
        margin: auto 0;
    }

    .fi-image {
        width: 50%;
    }

    .fi-image img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        padding: 4px;
    }

    .external-link {
        background-color: #ffcc00;
        color: #fff;
        padding: 12px 16px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        width: fit-content;
        margin: 0 auto;
    }

    .external-link:hover {
        opacity: .7;
    }

/* How it form */
    .how-they-form .lead {
        padding: 20px;
    }

    .formation-section {
        margin-bottom: 50px;
        padding: 0 20px;
    }

    .formation-section figure {
        margin: 20px 0;
        text-align: center;
    }

    .formation-section img {
        width: 100%;
        height: 500px;
        border-radius: 8px;
    }

    .formation-section figcaption {
        font-size: 0.9rem;
        color: #58585b;
        margin-top: 8px;
    }

    .faq {

        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }

    .faq h3 {
        color: #d91b1b;
        margin-top: unset;
    }

    .faq p {
        margin-bottom: 15px;
    }
@media only screen and (min-width: 1600px) {
    .container, 
    .footer-container, 
    .header-container,
    .header-title_details,
    #body-container{
        width: 1600px;
        margin: auto;
    }
}