body{
    margin: 0;
    font-family: 'inter',sans-serif;
}

header{
    background: #000;
    color: #f2f2f2;
    /* padding: 20px; */
}
.header-container{
    padding: 16px 80px;
    display: flex;
}

.header-slogan, .header-logo, .header-blank{
    width: 33.33%;
}

.header-slogan {
    display: flex;
    align-items: center;   /* Centers items vertically */
    gap: 10px;  
}

.header-slogan > span{
    
}

.header-slogan img{
    width: 100px;
    border-radius: 8px;
}

.header-banner{
    height: 600px;
    position: relative;
}

.header-title{
    display: flex;
    margin: 250px 80px 20px;
}

.header-title-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.header-title_details{

}

.header-title_h1{
    width: 500px;
    /* margin: auto; */
}

.header-title h1{
    font-size: 80px;
    margin: 20px 0;
}

.header-logo{
    text-align: center;
}
.header-logo img{
    width: 60px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    min-height: 80vh;
    margin: 0 80px;
}

nav{
    width: 25%;
    padding: 20px 30px;
    position: sticky; 
    top: 0;
    height: fit-content;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    padding: 10px 20px;
    border-left: 1px solid #ccc;
}

nav ul li:hover{
    border-left: 5px solid #ffcc00;
}

nav ul li:hover > a{
    color: #ffcc00;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    display: block;
}
.active-link{
    border-left: 5px solid #ffcc00;
}
.active-link > a{
    color: #ffcc00;
}

main{
    width: 75%;
    padding: 20px;
    background: #ffffff;
}

footer{
    background: #000;
    color: #ccc;
    text-align: center;
    padding: 10px;
}

.footer-container{
    margin: auto 80px;
    padding-top: 40px;
}


footer li{
    list-style-type: none;
}

footer svg{
    width: 16px;
    height: 16px;
    fill: #fff;
}

.footer-details{
    display: flex;
}

/* footer navigation */

.footer-navigate{
    width: 45%;
    display: flex;
    justify-content: space-around;
} 

.footer-navigate ul{
    padding: 0;
}

.footer-navigate li {
    padding: 10px 20px;
    text-align: start;
}

.footer-navigate li a{
    text-decoration: none;
    color: #fff;
}

.footer-navigate li a:hover{
    color: #ffcc00;
}

/* footer contact */
.footer-contact{
    width: 25%;
}

.footer-contact_icon a{    
    background-color: #2e2e32;
    border-radius: 50%;
    height: 32px;
    justify-content: center;
    margin: 0 12px 0 0;
    width: 32px;
    display: flex;
    align-items: center;
}

.footer-contact_icon{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0;
}

/* footer slogan */
.footer-slogan{
    width: 30%;
} 

.footer-slogan_container{
    max-width: 200px;
    margin: auto;
}

.footer-slogan .logo{
    width: 150px;
}

.footer-slogan .slogan{
    border-radius: 8px;
    width: 150px;
}

.footer-copywright{
    border-top: 1px solid #fff;
    margin-top: 24px;
}
@media only screen and (min-width: 1600px) {
    .container, 
    .footer-container, 
    .header-container,
    .header-title_details,
    #body-container{
        width: 1600px;
        margin: auto;
    }

}